/* .email-input {
    padding: 12px 180px 12px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 14px;

}

.message-input {
    padding: 12px 150px 122px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 14px;
}

.getintouch-btn {

    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 13px;
    padding: 10px 180px 10px 180px;
} */

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border-radius: 8px;
}

.get-btn {
    border: 2px solid rgb(119, 202, 237);
    padding: 11px 28px;
    border-radius: 50px;
    font-size: 18px;
    color: white;
}

.get-btn:hover {
    box-shadow: 0 0 25px rgba(0, 188, 212, 0.3);
    border-color: #00bcd4;
}