.f-h1 {
    font-size: 55px;
}

@media (max-width:425px) {
    .email {
        position: relative;
        top: 130px;
        right: 199px;
        color: white;
        background: transparent;

    }

}